<!DOCTYPE html>
<html lang="en">

<head>
    <title>MapleTrack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/edit.css">
    <link rel="stylesheet" href="/public/css/loader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="/public/icon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
        as="font" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap"
        as="font" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
    <%- include('navbar') %>
        <div class="center-container">
            <div class="mainContent">
                <div class="classImage">
                    <div class="classImage">
                        <img src="/public/assets/profile/<%- characterClass %>.webp" alt="Lara profile picture"
                            class="portraitImage">
                    </div>
                </div>
                <div class="characterData">
                    <div class="buttonWrapper">
                        <button class="discardButton">Discard Changes</button>
                        <button class="saveButton">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <p class="version">
            <%= globalVariable %>
        </p>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dompurify@3.2.6/dist/purify.min.js"></script>
        <script src="/public/javascript/utils/navbar.js"></script>
        <script src="/public/javascript/utils/create.js"></script>
        <script src="/public/javascript/utils/cookies.js"></script>
        <script src="/public/javascript/utils/characterData.js"></script>
        <script src="/public/javascript/utils/progressBar.js"></script>
        <script src="/public/javascript/edit/edit_load.js"></script>
        <script src="/public/javascript/edit/edit_logic.js"></script>
        <script id="userdata" data-username="<%- username %>" data-username-id="<%- _id %>"></script>
</body>

</html>